DesarrolloWeb2Front/Web References/EstusianteHobbies/EstudianteHobbieWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetHobbiesByStudent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHobbiesByStudentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHobbiesByStudentResult" type="tns:EstudianteHobbieDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EstudianteHobbieDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Identificacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Hobbies" type="tns:ArrayOfHobbiesDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHobbiesDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HobbiesDto" nillable="true" type="tns:HobbiesDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HobbiesDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetHobbiesByStudentSoapIn">
    <wsdl:part name="parameters" element="tns:GetHobbiesByStudent" />
  </wsdl:message>
  <wsdl:message name="GetHobbiesByStudentSoapOut">
    <wsdl:part name="parameters" element="tns:GetHobbiesByStudentResponse" />
  </wsdl:message>
  <wsdl:portType name="EstudianteHobbieWSSoap">
    <wsdl:operation name="GetHobbiesByStudent">
      <wsdl:input message="tns:GetHobbiesByStudentSoapIn" />
      <wsdl:output message="tns:GetHobbiesByStudentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EstudianteHobbieWSSoap" type="tns:EstudianteHobbieWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHobbiesByStudent">
      <soap:operation soapAction="http://tempuri.org/GetHobbiesByStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EstudianteHobbieWSSoap12" type="tns:EstudianteHobbieWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHobbiesByStudent">
      <soap12:operation soapAction="http://tempuri.org/GetHobbiesByStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EstudianteHobbieWS">
    <wsdl:port name="EstudianteHobbieWSSoap" binding="tns:EstudianteHobbieWSSoap">
      <soap:address location="https://localhost:44384/WebServices/EstudianteHobbieWS.asmx" />
    </wsdl:port>
    <wsdl:port name="EstudianteHobbieWSSoap12" binding="tns:EstudianteHobbieWSSoap12">
      <soap12:address location="https://localhost:44384/WebServices/EstudianteHobbieWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>