DesarrolloWeb2Front/Web References/EstusianteWS/EstudianteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllStuden">
        <s:complexType />
      </s:element>
      <s:element name="GetAllStudenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllStudenResult" type="tns:ArrayOfEstudianteDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEstudianteDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EstudianteDto" nillable="true" type="tns:EstudianteDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EstudianteDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Identificacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="StudentById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentByIdResult" type="tns:EstudianteDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentUpdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentDeleteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentCreateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllStudenSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllStuden" />
  </wsdl:message>
  <wsdl:message name="GetAllStudenSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllStudenResponse" />
  </wsdl:message>
  <wsdl:message name="StudentByIdSoapIn">
    <wsdl:part name="parameters" element="tns:StudentById" />
  </wsdl:message>
  <wsdl:message name="StudentByIdSoapOut">
    <wsdl:part name="parameters" element="tns:StudentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="StudentUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:StudentUpdate" />
  </wsdl:message>
  <wsdl:message name="StudentUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:StudentUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="StudentDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:StudentDelete" />
  </wsdl:message>
  <wsdl:message name="StudentDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:StudentDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="StudentCreateSoapIn">
    <wsdl:part name="parameters" element="tns:StudentCreate" />
  </wsdl:message>
  <wsdl:message name="StudentCreateSoapOut">
    <wsdl:part name="parameters" element="tns:StudentCreateResponse" />
  </wsdl:message>
  <wsdl:portType name="EstudianteWSSoap">
    <wsdl:operation name="GetAllStuden">
      <wsdl:input message="tns:GetAllStudenSoapIn" />
      <wsdl:output message="tns:GetAllStudenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StudentById">
      <wsdl:input message="tns:StudentByIdSoapIn" />
      <wsdl:output message="tns:StudentByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StudentUpdate">
      <wsdl:input message="tns:StudentUpdateSoapIn" />
      <wsdl:output message="tns:StudentUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StudentDelete">
      <wsdl:input message="tns:StudentDeleteSoapIn" />
      <wsdl:output message="tns:StudentDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StudentCreate">
      <wsdl:input message="tns:StudentCreateSoapIn" />
      <wsdl:output message="tns:StudentCreateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EstudianteWSSoap" type="tns:EstudianteWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllStuden">
      <soap:operation soapAction="http://tempuri.org/GetAllStuden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentById">
      <soap:operation soapAction="http://tempuri.org/StudentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentUpdate">
      <soap:operation soapAction="http://tempuri.org/StudentUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentDelete">
      <soap:operation soapAction="http://tempuri.org/StudentDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentCreate">
      <soap:operation soapAction="http://tempuri.org/StudentCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EstudianteWSSoap12" type="tns:EstudianteWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllStuden">
      <soap12:operation soapAction="http://tempuri.org/GetAllStuden" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentById">
      <soap12:operation soapAction="http://tempuri.org/StudentById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentUpdate">
      <soap12:operation soapAction="http://tempuri.org/StudentUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentDelete">
      <soap12:operation soapAction="http://tempuri.org/StudentDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentCreate">
      <soap12:operation soapAction="http://tempuri.org/StudentCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EstudianteWS">
    <wsdl:port name="EstudianteWSSoap" binding="tns:EstudianteWSSoap">
      <soap:address location="https://localhost:44384/WebServices/EstudianteWS.asmx" />
    </wsdl:port>
    <wsdl:port name="EstudianteWSSoap12" binding="tns:EstudianteWSSoap12">
      <soap12:address location="https://localhost:44384/WebServices/EstudianteWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>